/* Write your CSS here */
.money-app {
  display: flex;
  padding: 20px;
  flex-direction: column;
  padding-top: 60px;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.head-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  margin: 12px;
  width: 700px;
}
.m-head {
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
}
.m-para {
  font-size: 17px;
  font-weight: 300;
  padding: 10px;
}
.span-element {
  color: blueviolet;
  font-weight: 900;
  font-size: 21px;
}
.input-element {
  height: 35px;
  width: 250px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 400;
  margin: 20px;
  padding: 15px;
}
.f-head {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}
.transaction-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}
.Form-element {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
  padding: 20px;
  box-shadow: inset;
  background-color: aliceblue;
}
.hello-world {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hello-world2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.option {
  padding: 5px;
  font-size: 14px;
  font-weight: 300;
}
.capital-select {
  color: black;
  height: 35px;
  width: 250px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}
.button {
  height: 35px;
  width: 110px;
  background-color: yellow;
  cursor: pointer;
  text-align: center;
  box-shadow: inset;
  outline: none;
  border-radius: 8px;
}
.hello-world3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-left: 100px;
}
.history-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: inset;
  outline: none;
  padding: 20px;
  margin: 20px;
  background-color: aliceblue;
}
.h-para {
  font-size: 16px;
  font-weight: 900;
  margin: 3px;
}

.h-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 380px;
}
.horizontal {
  height: 1px;
  width: 300px;
  border: 1px solid grey;
}
.ul-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
}
